body{
    background-color: #80ed99;
}


nav button{
    
    
    display: inline-block;
    border: 1px solid blue;
    border-radius: 16px;
    margin: 2px;
    padding: 2px;
    background-color: #57cc99;
}
main table{
    width: 520px;
    border: 2px solid blue;
    border-radius: 4px;
    margin: 2px;
    padding: 10px;
    background-color: #57cc99;
    box-shadow: 4;
    color: #fff8e5;
    text-align: center;
}
a:visited{
    color:green;
}
a:link{
    color:blue;
}
a:hover{
    color: blueviolet;
}

