body{
    background-color: #80ed99;
}
#Logo{
    margin-right: 8%;
}
nav{
    margin-bottom: 16px;
}
nav input{
    margin-left: 8%;
    padding: 8px;
    border: 1px solid blue;
    border-radius: 48px;
}
nav button{
    display: inline-block;
    border: 1px solid blue;
    border-radius: 48px;
    margin: 16px;
    padding: 8px;
    background-color: #57cc99;
    align-content: center ;
}
main{
    margin: 5%;
}
h1{
    margin-bottom: 32px;
}
main tr{
    padding:16px;
}
main table{
    width: 80%;
    border: 2px solid blue;
    border-radius: 4px;
    margin: auto;
    padding: 30px;
    background-color: #57cc99;
    box-shadow: 4;
    color: #fff8e5;
}

a:visited{
    color: white;
}
a:link{
    color:white;
}
a:hover{
    color: black;
    background-color: blueviolet;
}

